#commentform input.error, #commentform textarea.error {background-color: #FFCC33; }
#commentform div.error, #commentform label.error {color: #76bfff;}
#commentform div.errorlabels label {display: block;}